//
//  Constants.swift
//  Cloud Control
//
//  Created by Clément Gonzalvez on 20/07/2018.
//  Copyright © 2018 Clément. All rights reserved.
//
//  Use this example to create Constants.secret.swift

import Foundation

let endpoint = "https://api.example.com/"
let stage = "Sandbox"

let secretStatusURL = endpoint + stage + "/DescribeInstance"
let secretStartURL = endpoint + stage + "/StartInstance"
let secretStopURL = endpoint + stage + "/StopVPNBastion"
let secretApiKey = "AhJJsHhAqSdQsxuAxxEkOOOiIiould"
